# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Crash logs
crash.logs
crash.*.logs

# IDE settings
./idea
.vscode

# OS and editor junk
*.DS_Store
*~
*.swp

# Executables
#terraform-wrapper.sh